<h1>{{title}}</h1>
<div class="container">

<form>
  <div class="row">
    <div class="col-sm-6">
      Cifra 1: <input type="number" [(ngModel)] = "cifra1" name="cifra1"><br><br>
    </div>
    <div class="col-sm-6">
      Cifra 2: <input type="number" [(ngModel)] = "cifra2" name="cifra2"><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-success">
    </div>
    <div class="col-sm-3">
      <input type="submit" value="Restar" (click)="restar()" class="btn btn-success">
    </div>
    <div class="col-sm-3">
      <input type="submit" value="Multiplicar" (click)="multiplicar()" class="btn btn-success">
    </div>
    <div class="col-sm-3">
      <input type="submit" value="Dividir" (click)="dividir()" class="btn btn-success">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Resultado = {{resultado}}</p>
    </div>
  </div>
</form>

</div>